{% extends 'AppHome/home.html' %}

{% block titulo %}
Avatar
{% endblock %}

{% block contenido %}
<!-- ***** Gaming Library Start ***** -->
<div class="gaming-library">
    <div class="col-lg-7">
        <div class="heading-section">
            <div class="row">
                    <p style="color: white;">Avatar</p>
                    <br/><br/>
                    <form method="post" enctype="multipart/form-data"> 
                        {% csrf_token %}
                        {{ form.as_p }}
                        <br/>
                        <button type="submit">Guardar Avatar</button>
                    </form>
            </div>
            <br/><br/>
                <a href="{% url 'profile' %}"> Volver</a>
                <br/>
        </div>
    </div>
</div>
{% endblock contenido %}