{% extends 'AppHome/home.html' %}

{% block titulo %}
Crear Blog
{% endblock %}

{% block contenido %}
<!-- ***** Gaming Library Start ***** -->
<div class="gaming-library" style="background-color: rgb(124, 118, 118);">
    <div class="col-lg-7">
        <div class="heading-section">
            <div class="row">   
                <p style="color: black;"><u>Crear Blog</u></p>
                <br/>
                    <form method="post" enctype="multipart/form-data"> 
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Guardar Blog</button>
                    </form>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}