{% extends 'AppHome/home.html' %}

{% block titulo %}
Elimanr Blog
{% endblock %}

{% block contenido %}
<div class="gaming-library">
    <div class="col-lg-7">
        <div class="heading-section">
            <div class="row">
                {% if user.id == blogs.autor.id %}
                <p style="color: white;">Eliminar Blog</p>
                <form method="POST">
                {% csrf_token %}
                    <br/><br/>
                    <p style="color: white;"> ¿Seguro que desea eliminar el blog: {{ object }}?</p>
                    <br/>
                    <input type="submit" value="Eliminar">
                </form>
                {% else %}
                <p style="color: white;">No puedes acceder aquí</p>
                {% endif %}
            </div>
            <br/><br/>
            <a href="{% url 'lista' user.id %}"> Volver</a>
            <br/>
        </div>
    </div>
</div>
{% endblock contenido %}