{% extends 'AppHome/home.html' %}

{% block titulo %}
Acerca del Creador de la Página
{% endblock %}

{% block contenido %}
<!-- ***** Gaming Library Start ***** -->
<div class="gaming-library">
  <div class="col-lg-12">
    <div class="heading-section">
      <p style="color: white;">Acerca de Mi</p>
      <p style="color: white;">
        Mi nombre es Federico Ojeda, tengo 23 años, vivo en Capital Federal, soy el creador de este blog, 
        estoy realizando el Curso de Python de CoderHouse y también estoy cursanado en un instituto 
        terciario del gobierno de la ciudad la tecnicatura de Analista Superior en Sistemas.
      </p>
    </div>
  </div>
</div>
<!-- ***** Gaming Library End ***** -->
{% endblock contenido %}